src/prompting/contract-schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contract">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="parties" type="partiesType"/>
        <xs:element name="key_dates" type="keyDatesType"/>
        <xs:element name="obligations" type="obligationsType"/>
        <xs:element name="risk_flags" type="riskFlagsType"/>
        <xs:element name="summary" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="partiesType">
    <xs:sequence>
      <xs:element name="party" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="keyDatesType">
    <xs:sequence>
      <xs:element name="date" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obligationsType">
    <xs:sequence>
      <xs:element name="obligation" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="riskFlagsType">
    <xs:sequence>
      <xs:element name="risk_flag" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>


